USE [QuanLyDoGiaDung]
GO
/****** Object:  Table [dbo].[chi_tiet_don_hang]    Script Date: 09/05/2023 7:45:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chi_tiet_don_hang](
	[san_pham_id] [int] NOT NULL,
	[don_hang_id] [int] NOT NULL,
	[ngay_ket_thuc_dat_san_pham] [datetime2](7) NULL,
	[ngay_dat_san_pham] [datetime2](7) NULL,
	[so_ky] [int] NULL,
	[so_luong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[san_pham_id] ASC,
	[don_hang_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[chi_tiet_don_hang] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[chi_tiet_gio_hang]    Script Date: 09/05/2023 7:45:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chi_tiet_gio_hang](
	[san_pham_id] [int] NOT NULL,
	[gio_hang_id] [int] NOT NULL,
	[ngay_dat_san_pham] [datetime2](7) NULL,
	[ngay_ket_thuc_dat_san_pham] [datetime2](7) NULL,
	[so_ky] [int] NULL,
	[so_luong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[san_pham_id] ASC,
	[gio_hang_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[chi_tiet_gio_hang] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[don_hang]    Script Date: 09/05/2023 7:45:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[don_hang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dia_chi_nhan_hang] [nvarchar](100) NULL,
	[hinh_thuc_thanh_toan] [nvarchar](100) NULL,
	[ngay_tao_don_hang] [datetime2](7) NULL,
	[tong_tien_don_hang] [float] NULL,
	[trang_thai_don_hang] [nvarchar](100) NULL,
	[khach_hang_id] [int] NULL,
	[khuyen_mai_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[don_hang] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[gio_hang]    Script Date: 09/05/2023 7:45:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gio_hang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ngay_tao_gio_hang] [datetime2](7) NOT NULL,
	[khach_hang_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[gio_hang] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[khach_hang]    Script Date: 09/05/2023 7:45:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khach_hang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sdt] [varchar](255) NULL,
	[email] [nvarchar](100) NULL,
	[ho_ten] [nvarchar](100) NULL,
	[users_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[khach_hang] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[khuyen_mai]    Script Date: 09/05/2023 7:45:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khuyen_mai](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[gia_tri_giam] [float] NULL,
	[ngay_bat_dau] [datetime2](7) NULL,
	[ngay_het_han] [datetime2](7) NULL,
	[ten_khuyen_mai] [nvarchar](100) NULL,
	[nhan_vien_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[khuyen_mai] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[nhan_vien]    Script Date: 09/05/2023 7:45:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhan_vien](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sdt] [varchar](255) NULL,
	[dia_chi] [nvarchar](100) NULL,
	[ten_nhan_vien] [nvarchar](100) NULL,
	[users_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[nhan_vien] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[san_pham]    Script Date: 09/05/2023 7:45:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[san_pham](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[don_gia] [float] NULL,
	[hinh_anh] [varchar](255) NULL,
	[mo_ta] [nvarchar](100) NULL,
	[ten_san_pham] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[san_pham] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[users]    Script Date: 09/05/2023 7:45:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[password] [varchar](255) NULL,
	[username] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[users] TO  SCHEMA OWNER 
GO
SET IDENTITY_INSERT [dbo].[khach_hang] ON 

INSERT [dbo].[khach_hang] ([id], [sdt], [email], [ho_ten], [users_id]) VALUES (1, N'0654856123', N'nora123456@gmail.com', N'Nguyen Van Tan', 1)
INSERT [dbo].[khach_hang] ([id], [sdt], [email], [ho_ten], [users_id]) VALUES (2, N'0123456789', N'wilson@gmail.com', N'Tran Duc Nghia', 2)
INSERT [dbo].[khach_hang] ([id], [sdt], [email], [ho_ten], [users_id]) VALUES (3, N'0885465123', N'cuong123@gmail.com', N'Lam Duc Cuong', 5)
SET IDENTITY_INSERT [dbo].[khach_hang] OFF
GO
SET IDENTITY_INSERT [dbo].[nhan_vien] ON 

INSERT [dbo].[nhan_vien] ([id], [sdt], [dia_chi], [ten_nhan_vien], [users_id]) VALUES (1, N'0546213588', N'TPHCM', N'Hoang Hoa Thuan', 3)
INSERT [dbo].[nhan_vien] ([id], [sdt], [dia_chi], [ten_nhan_vien], [users_id]) VALUES (2, N'0855654213', N'TPHCM', N'NguyenChi Quoc Dang', 4)
SET IDENTITY_INSERT [dbo].[nhan_vien] OFF
GO
SET IDENTITY_INSERT [dbo].[san_pham] ON 

INSERT [dbo].[san_pham] ([id], [don_gia], [hinh_anh], [mo_ta], [ten_san_pham]) VALUES (1, 1000000, N'https://vcdn-giadinh.vnecdn.net/2021/02/05/1-1612520099-1612520123-1798-1612520134.jpg', N'Bộ nồi Nagakawa với 3 kích thước, thỏa sức sáng tạo các bữa ăn cho gia đình.', N'Bộ nồi Nagakawa')
INSERT [dbo].[san_pham] ([id], [don_gia], [hinh_anh], [mo_ta], [ten_san_pham]) VALUES (2, 1200000, N'https://cdn2.cellphones.com.vn/x358,webp,q100/media/catalog/product/n/o/noi-chien-khong-dau-xiaomi-mi-smart-air-fryer-1_2.jpg', N'Nồi chiên không dầu Xiaomi Mi Smart Air Fryer 3,5 lít chính hãng - Giá rẻ, chất lượng, độ bền cao.', N'Nồi chiên không dầu Xiaomi Mi Smart Air Fryer')
INSERT [dbo].[san_pham] ([id], [don_gia], [hinh_anh], [mo_ta], [ten_san_pham]) VALUES (3, 550000, N'https://cdn11.dienmaycholon.vn/filewebdmclnew/DMCL21/Picture/Apro/Apro_product_25859/ban-ui-hoi-nuoc_main_133_450.png.webp', N'Với mặt đế bằng gốm chống dính, loại bỏ hiệu quả các nếp nhăn trên các chất liệu vải thông dụng', N'Bàn ủi hơi nước Electrolux ESI5116 1800W')
SET IDENTITY_INSERT [dbo].[san_pham] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [password], [username]) VALUES (1, N'{bcrypt}$2a$10$qDoISw0uB8nBA9NxTNiQ3OJc4we58/VfYY0fm8pxln7qyH7fezjhO', N'customer1')
INSERT [dbo].[users] ([id], [password], [username]) VALUES (2, N'{bcrypt}$2a$10$qDoISw0uB8nBA9NxTNiQ3OJc4we58/VfYY0fm8pxln7qyH7fezjhO', N'customer2')
INSERT [dbo].[users] ([id], [password], [username]) VALUES (3, N'{bcrypt}$2a$10$qDoISw0uB8nBA9NxTNiQ3OJc4we58/VfYY0fm8pxln7qyH7fezjhO', N'hoathuan')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[chi_tiet_don_hang]  WITH CHECK ADD  CONSTRAINT [FK7umh8es02cc48xi4gb5scbgcb] FOREIGN KEY([san_pham_id])
REFERENCES [dbo].[san_pham] ([id])
GO
ALTER TABLE [dbo].[chi_tiet_don_hang] CHECK CONSTRAINT [FK7umh8es02cc48xi4gb5scbgcb]
GO
ALTER TABLE [dbo].[chi_tiet_don_hang]  WITH CHECK ADD  CONSTRAINT [FKt57maavf6s28hxyar724mdr1b] FOREIGN KEY([don_hang_id])
REFERENCES [dbo].[don_hang] ([id])
GO
ALTER TABLE [dbo].[chi_tiet_don_hang] CHECK CONSTRAINT [FKt57maavf6s28hxyar724mdr1b]
GO
ALTER TABLE [dbo].[chi_tiet_gio_hang]  WITH CHECK ADD  CONSTRAINT [FK5e5jfe401gg179es4akmlg2u9] FOREIGN KEY([gio_hang_id])
REFERENCES [dbo].[gio_hang] ([id])
GO
ALTER TABLE [dbo].[chi_tiet_gio_hang] CHECK CONSTRAINT [FK5e5jfe401gg179es4akmlg2u9]
GO
ALTER TABLE [dbo].[chi_tiet_gio_hang]  WITH CHECK ADD  CONSTRAINT [FKtqquymvys3klt816jj4u5x0wq] FOREIGN KEY([san_pham_id])
REFERENCES [dbo].[san_pham] ([id])
GO
ALTER TABLE [dbo].[chi_tiet_gio_hang] CHECK CONSTRAINT [FKtqquymvys3klt816jj4u5x0wq]
GO
ALTER TABLE [dbo].[don_hang]  WITH CHECK ADD  CONSTRAINT [FKeyporccvr9mq4k9j4fc5wpum5] FOREIGN KEY([khach_hang_id])
REFERENCES [dbo].[khach_hang] ([id])
GO
ALTER TABLE [dbo].[don_hang] CHECK CONSTRAINT [FKeyporccvr9mq4k9j4fc5wpum5]
GO
ALTER TABLE [dbo].[don_hang]  WITH CHECK ADD  CONSTRAINT [FKm66hy6vf9vuoi3tdept6h771l] FOREIGN KEY([khuyen_mai_id])
REFERENCES [dbo].[khuyen_mai] ([id])
GO
ALTER TABLE [dbo].[don_hang] CHECK CONSTRAINT [FKm66hy6vf9vuoi3tdept6h771l]
GO
ALTER TABLE [dbo].[gio_hang]  WITH CHECK ADD  CONSTRAINT [FKtfg3dplbmn3wiwy26si1daye3] FOREIGN KEY([khach_hang_id])
REFERENCES [dbo].[khach_hang] ([id])
GO
ALTER TABLE [dbo].[gio_hang] CHECK CONSTRAINT [FKtfg3dplbmn3wiwy26si1daye3]
GO
ALTER TABLE [dbo].[khach_hang]  WITH CHECK ADD  CONSTRAINT [FK777qmwi2tmfvbtrrsjjb6yvp5] FOREIGN KEY([users_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[khach_hang] CHECK CONSTRAINT [FK777qmwi2tmfvbtrrsjjb6yvp5]
GO
ALTER TABLE [dbo].[khuyen_mai]  WITH CHECK ADD  CONSTRAINT [FKl49lkrrkhagrpstox8usv92fs] FOREIGN KEY([nhan_vien_id])
REFERENCES [dbo].[nhan_vien] ([id])
GO
ALTER TABLE [dbo].[khuyen_mai] CHECK CONSTRAINT [FKl49lkrrkhagrpstox8usv92fs]
GO
ALTER TABLE [dbo].[nhan_vien]  WITH CHECK ADD  CONSTRAINT [FKovyhdh7a2i4b4vm89kqotx026] FOREIGN KEY([users_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[nhan_vien] CHECK CONSTRAINT [FKovyhdh7a2i4b4vm89kqotx026]
GO
